<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Post_Text</key>
	<string></string>
	<key>PID</key>
	<string></string>
	<key>UID</key>
	<string></string>
	<key>Touch ID</key>
	<integer>1</integer>
	<key>Logout</key>
	<integer>0</integer>
	<key>Email</key>
	<string>rafaellichen@gmail.com</string>
	<key>Username</key>
	<string></string>
	<key>Password</key>
	<string>password</string>
</dict>
</plist>
